canvas {
  position: absolute;
  top: 0;
  left: 0;
}
p {
  margin: 0 0;
  position: absolute;
  font: 16px Verdana;
  color: #eee;
  height: 25px;
  top: calc(100vh - 30px);
  text-shadow: 0 0 2px white;
}
p a {
  text-decoration: none;
  color: #aaa;
}
span {
  font-size: 11px;
}
p > a:first-of-type {
  font-size: 20px;
}

/* 通用樣式 */
body {
    margin: 0;
    overflow: hidden;
    font-family: 'JfOpenHuninn', sans-serif; 
}

/* 專案A：生日氣球與煙火樣式 */
.birthday-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4rem;
    font-weight: 700; /* 使用粗體增加視覺衝擊 */
    text-align: center;
    z-index: 2;
    font-family: 'JfOpenHuninn', sans-serif; 
}

/* 專案B：情人節告白樣式 */
.instruction {
    position: absolute;
    font-size: 1.6rem;
    color: rgba(255, 0, 0, 0.554);
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'JfOpenHuninn', sans-serif;
}

.message {
    padding: 25px;
    background-color: #eee;
    font-family: 'JfOpenHuninn', sans-serif; 
    font-size: clamp(16px, 10vw, 17px);
    text-align: justify;
    line-height: 1.5em;
    width: 80%;
    max-width: 550px;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    animation-fill-mode: forwards;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 5px;
    overflow: scroll;
    scrollbar-width: none;
}

.message h1 {
    font-family: 'JfOpenHuninn', sans-serif; 
    font-size: 40px;
    letter-spacing: 1.2px;
}

.message .sincere {
    text-align: left;
    font-family: 'JfOpenHuninn', sans-serif; 
    font-size: 14px;
    line-height: 1.2em;
}

@font-face {
  font-family: 'JfOpenHuninn';
  src: url('https://raw.githubusercontent.com/lujhihling/blue/main/jf-openhuninn-2.1.ttf') format('truetype');
}
